@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: #d6d7db;
}
.weather_container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.weather_container .weather_main{
  background-color: #f7f6f9;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
}
.weather_container .weather_main .weather_main_lft{
  background-color: #5d9ce6;
  color: #fff;
  padding: 30px 40px;
  height: 600px;
  width: 100%;
}
.weather_container .weather_main .weather_main_rght{
  padding: 30px 20px;
  height: 600px;
  width: 100%;
}
.weather_container .weather_main .weather_main_lft .search_field{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.weather_container .weather_main .weather_main_lft .search_field input{
  border: none;
  outline: none;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background: none;
  color: #fff;
}
.weather_container .weather_main .weather_main_lft .weather_temp {
  display: flex;
}
.weather_container .weather_main .weather_main_lft .weather_temp h2{
  font-size: 70px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-left: 20px;
}
.weather_container .weather_main .weather_main_lft .weather_temp h3{
  font-size: 40px;
  color: #000;
}
.weather_container .weather_main .weather_main_lft .date_time h4{
  font-size: 14px;
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
}
.weather_container .weather_main .weather_main_lft .date_time h4 span{
  color: #CDC9C9;
}
.weather_container .weather_main .weather_main_lft hr {
    color: #101010;
    margin-left: 16px;
    margin-top: 20px;
}
.weather_container .weather_main .weather_main_lft .current_location{
  background: linear-gradient(225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%),url(./images/location_bg.jpg);
  background-size: cover;
  border-radius: 20px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.weather_container .weather_main .weather_main_lft .current_location h2{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  font-size: 20px;
}
.weather_overview ul{
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
.weather_overview ul li{
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}
.weather_main_rght{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather_main_rght h2{

}
.weather_main_rght h3 span{
  color: #9c9c9c;
}
.weather_main_rght .weather_other{
  background-color: #fff;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 20px;
}
.weather_main_rght .weather_other h4{
  font-size: 20px;
}
.weather_main_rght .weather_other h5{
  font-size: 16px;
}
.weather_main_rght .weather_other .unit{
  color: #9c9c9c;
}
.weather_main_rght .local_time h4{
  padding-right: 20px;
}
.weather_main_rght .local_time h4 span{
   color: #9c9c9c;
}
.weather_main_lft h3.real_feel{
  font-size: 20px;
  padding-left: 20px;
}
.weather_main_lft h3.real_feel span{
  color: #000;
}
.lbl_search_city{
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
  /* font-family: 'Jost', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  @media only screen and (min-width: 1600px) and (max-width: 1920px){}
  @media only screen and (min-width: 1445px) and (max-width: 1599px) {}

  @media only screen and (max-width: 1444px){}
  @media only screen and (max-width: 1365px){}
  @media only screen and (max-width: 1199px){
    .weather_container .weather_main .weather_main_lft .weather_temp h2 {
      font-size: 55px;
      padding: 0;
    }
    .weather_container .weather_main .weather_main_lft .weather_temp h3 {
      font-size: 30px;
      color: #000;
    }
    .weather_main_lft h3.real_feel {
      font-size: 18px;
      padding-left: 0px;
    }
    .weather_container .weather_main .weather_main_lft .date_time h4 {
      font-size: 12px;
      padding-left: 0px;
      font-family: 'Poppins', sans-serif;
    }
    .weather_container .weather_main .weather_main_lft hr {
      color: #101010;
      margin-left: 0px;
      margin-top: 0px;
    }
    .weather_container .weather_main .weather_overview .info_overview{
      font-size: 12px;
    }
    .weather_container .weather_main .weather_main_lft .current_location {
      border-radius: 10px;
    }
    .weather_container .weather_main .weather_main_lft .current_location h2 {
      font-size: 16px;
    }
    .weather_main_rght .local_time h4 {
      font-size: 18px;
    }
    .weather_main_rght h2 {
      font-size: 28px;
    }
    .weather_main_rght h3{
      font-size: 20px;
    }
    .weather_main_rght .weather_other h4 {
      font-size: 16px;
    }
    .weather_main_rght .weather_other h5{
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 991px){
    .weather_container .weather_main{
      border-radius: 0;
    }
    .weather_container .weather_main .weather_main_lft {
      height: auto;
    }
    .weather_container .weather_main .weather_main_lft .weather_temp h2 {
      margin-bottom: 10px;
    }
    .weather_main_lft h3.real_feel {
      margin-bottom: 10px;
    }
    .weather_container .weather_main .weather_main_rght{
      height: auto;
      padding-left: 35px;
    }
    .weather_container .weather_main .weather_main_lft .current_location {
      width: 80%;
      margin: 20px auto 0;
    }
    .weather_main_rght .local_time h4 {
      font-size: 16px;
    }
    .weather_main_rght h2 {
      margin-top: 20px;
      font-size: 24px;
    }
    .weather_main_rght h3 {
      font-size: 18px;
    }
    label.lbl_search_city{
      margin-bottom: 10px;
    }
  }
  @media only screen and (max-width: 767px){
    
    .weather_container .weather_main .weather_main_lft .current_location {
      width: 100%;
    }
  }
  @media only screen and (max-width: 519px){
    .weather_main_rght .weather_other{
      width: auto;
      height: auto;
      margin: 5px;
      padding: 20px 10px;
    }
    .weather_main_rght .weather_other h4 {
      font-size: 14px;
    }
    .weather_main_rght .weather_other h5{
      font-size: 12px;
      padding-top: 3px;
    }
  }